.orderSuccess {
  margin: auto;
  padding: 10vmax;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.orderSuccess > svg {
  font-size: 7vmax;
  color: rgb(82, 199, 217);
}

.orderSuccess > p {
  font-size: 2vmax;
}

.orderSuccess > a {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 2vmax;
}

@media screen and (max-width: 800px) {
  .orderSuccess > a {
    padding: 3vw 6vw;
    font: 400 4vw "Roboto";
    margin: 2vmax;
  }
  .orderSuccess > svg {
    font-size: 20vw;
  }

  .orderSuccess > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}
